[submodule "tests"]
	path = tests
	url = ssh://git@github.com/rcore-os/zcore-tests.git
[submodule "linux-user/keystone-rust-sdk"]
	path = linux-user/keystone-rust-sdk
	url = git@github.com:OS-2022S-F-1/keystone-rust-sdk.git
[submodule "keystone-sdk"]
	path = keystone-sdk
	url = git@github.com:keystone-enclave/keystone-sdk.git
